<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ImageToText</title>
</head>
<body>
    <p> Welcome to Image to text translation </p>
    <p> Please enter you text below </p>
    <form action="/analyze", method="get">
        <textarea name="text" style="margin: 0px; width: 1061px; height: 76px;"> </textarea> <br>
        <input type="checkbox" name="remove_punc"> Remove Punctuation <br>
        <button type="submit"> Analyze Text </button>

    </form>
</body>
</html>